:root {
    --bg-color: #1a191f;
    --fg-color: #9ed5ff;
    --grey-two: #1f1f26;
    --grey-three: #1e1f24;
    --grey-four: hsl(226, 48%, 18%);
    --grey-nine: hsla(240, 6%, 7%, .3);
    --medium: 28px;
    --full: 20px;
    font-size: 16px;
}

h3 {
  font-size: 1.25rem;
  color: var(--accent-color-two);
  font-weight: 600;
}

body {
    font-family: Manrope, sans;
    background-color: var(--bg-color);
}

label {
    font-weight: 600;
    font-family: Manrope, sans;
    margin-left: 7px;
}

button {
    font-family: Manrope, sans; 
    font-weight: 600;
    font-size: .95rem;
    border-radius: var(--full);
    color: var(--grey-four);
    background-color: var(--fg-color);
    border: none;
    padding: 11px;
}

.text-button {
    background-color: transparent;
    color: var(--accent-color-two);
}

input {
    font-weight: 600;
    font-family: Manrope, sans;
    background-color: #282a31;
    font-size: .95rem;
    padding: 11px;
    color: #6c7885;
    border: none;
    border-radius: var(--full);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    right: 0;
    top: 0;
    position: fixed;
    margin: 0;
    width: 100%;
    z-index: 1;
    background-color: var(--grey-two);
    color: var(--fg-color);
}

.navbar div {
    padding: 10px;
}

.navbar div input {
    margin-top: 4px;
}

.action-buttons {
    display: flex;
    justify-content: right; 
}

.action-buttons button {
    margin-left: 10px;
}

.login {
    position: relative;
    display: inline-block;
}

.login-form {
    display: absolute;
    position: fixed;
    right: 0;
    margin: 10px;
    background-color: var(--grey-three);
    border-radius: var(--medium);
    z-index: 2; 
}

.login-form form {
    padding: 10px;
}

.login-form.hidden {
    display: none;
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    z-index: 1;
}

.overlay.hidden {
    display: none;
}
