@import url(constants.css);

h3 {
  font-size: 1.25rem;
  color: var(--accent-color-two);
  font-weight: 600;
}

h4 {
  color: var(--accent-color-two);
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: .02rem;
  line-height: 2rem;
}

body {
    font-family: Manrope, sans;
    background-color: var(--bg-color);
    margin: 0;
}

label {
    font-weight: 600;
    font-family: Manrope, sans;
    margin-left: 7px;
}

button {
    font-family: Manrope, sans; 
    font-weight: 600;
    font-size: .95rem;
    border-radius: var(--full);
    color: var(--grey-four);
    background-color: var(--fg-color);
    border: none;
    padding: 11px;
}

.text-button {
    background-color: transparent;
    color: var(--accent-color-two);
}

input {
    font-weight: 600;
    font-family: Manrope, sans;
    background-color: #282a31;
    font-size: .95rem;
    padding: 11px;
    color: #6c7885;
    border: none;
    border-radius: var(--full);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    background-color: var(--grey-two);
    color: var(--fg-color);
}

.navbar div {
    padding: 0px 20px;
}

.navbar .login-form {
    padding: 10px;
}

.navbar div input {
    margin-top: 4px;
}

.action-buttons {
    display: flex;
    justify-content: right; 
}

.action-buttons button {
    margin-left: 10px;
}

.login {
    position: relative;
    display: inline-block;
}

.login-form {
    display: absolute;
    position: fixed;
    right: 0;
    margin: 10px;
    background-color: var(--grey-three);
    border-radius: var(--medium);
    z-index: 2; 
}

.login-form button {
    margin-top: 10px;
}

.login-form form {
    padding: 10px;
}

.login-form.hidden {
    display: none;
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    z-index: 1;
}

.overlay.hidden {
    display: none;
}

/* Tables */

.card {
    position: relative;
    margin: 50px;
    border: 1px solid var(--border-color);
    border-radius: var(--full);
    overflow: hidden;
    padding: 0;
}

@media only screen and (max-width: 800px) {
    .card {
        margin: 10px; 
    }
}

.card .header {
    background-color: var(--grey-three);
    padding:  .75rem 1.25rem;
}

.card .header h4 {
    margin: 0;
}

table {
    border-collapse: collapse;
    width: 100%;
    right: 0;
}

th { 
    border: 1px solid var(--border-color);
    color: var(--grey-five);
    border-bottom: 0;
    padding: 5px 10px;
}

tr {
    color: var(--grey-five);
    text-align: center;
}

td {
    border: 1px solid var(--border-color);
    border-left: 0;
}

th:last-child {
    border-right: 0;
}

th:first-child {
    border-left: 0;
}

td:last-child {
    border-right: 0;
}

tr:last-child td {
    border-bottom: 0;
}
